* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(58, 0, 58);
  font-family: "Aref Ruqaa", serif;
}
#main {
  height: 100%;
  width: 100%;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#header {
  height: 190px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}
#header img {
  height: 100%;
}
.aref-ruqaa-regular {
  font-family: "Aref Ruqaa", serif;
  font-weight: bolder;
  font-style: normal;
  font-size: xx-large;
  color: white;
}
#body {
  height: 950px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(58, 0, 5);
  border-radius: 50px;
  padding: 10px 10px;
  gap: 15px;
}
.body_part1 {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tasks {
  height: 400px;
  width: 250px;
  background-color: rgb(58, 0, 58);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.tasks2 {
  height: 100%;
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.task_header {
  height: 60px;
  width: 100%;
  color: white;
  border-radius: 50px;
  box-shadow: 0px 25px 20px purple;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task_body {
  height: 340px;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 5px 20px purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
  gap: 20px;
}
#schedule {
  height: 95px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  font-size: x-large;
}
#sehri {
  color: green;
}
#iftar {
  color: rgb(255, 79, 79);
}
#date {
  color: pink;
}
#day {
  color: cadetblue;
}
.schedule_box {
  height: 60px;
  width: 250px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.salah {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
.salah input {
  height: 18px;
  width: 18px;
  cursor: pointer;
  appearance: none;
  border: 1px solid white;
  border-radius: 15px;
  position: relative;
}
.salah input:checked + span {
  text-decoration: line-through;
  background: purple;
  color: white;
  opacity: 0.7;
  transition: 0.3s;
}
.task_body p {
  color: white;
  font-size: 18px;
}
