* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(58, 0, 58);
  font-family: "Aref Ruqaa", serif;
}
#main {
  height: 100%;
  width: 100%;
  padding: 0px 50px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  gap: 30px;
}
#header {
  height: 190px;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  /* background-color:blue; */
}
#header img {
  height: 100%;
}
.aref-ruqaa-regular {
  font-family: "Aref Ruqaa", serif;
  font-weight: bolder;
  font-style: normal;
  font-size: xx-large;
  color: white;
}
#body_part {
  height: 550px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(58, 0, 58);
  border: 5px, solid,grey;
  border-radius: 50px;
  box-shadow: 15px 15px 40px black;
  padding: 0px 50px;
}
.tasks {
  height: 400px;
  width: 250px;
  background-color: rgb(58, 0, 58);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.task_header{
  height: 60px;
  width: 100%;
  color: white;
  border: 5px, solid, grey;
  border-radius: 50px;
  box-shadow: 0px 5px 20px black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task_body{
  height: 340px;
  width: 100%;
  border: 5px, solid, grey;
  border-radius: 30px;
  box-shadow: 0px 5px 20px black;
}
#schedule {
  height: 95px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  color: white;
  font-weight: bold;
  font-size: x-large;
}
#sehri {
  color: green;
}
#iftar {
  color: rgb(255, 79, 79);
}
#date{
  color: pink;
}
#day{
  color: cadetblue;
}
.schedule_box{
  height: 100px;
  width: 300px;
  border: 5px, solid, grey;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 40px black;
}
